
@{
    ViewBag.Title = "Filter";
}

<h2>Filter</h2>
<p>

    @using (Html.BeginForm("Filter", "VisitLog", FormMethod.Post))
    {
        <div class="form-group">
            <div class="col-md-9">
                <div class="form-group">
                    <label>Введите начальную дату:</label>
                    <input type="date" class="form-control" name="startDate">
                </div>
                <div class="form-group">
                    <label>Введите конечную дату:</label>
                    <input type="date" class="form-control" name="endDate">
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Фильтрация" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    }
</p>

<div>
    @Html.ActionLink("Назад", "FullList")
</div>

